@model ISOOU.Web.ViewModels.Users.ScoresByCriteriasOnCandidateViewModel
@{
    ViewData["Title"] = "Критерии и точки";

}

<section class="ftco-heading-2" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container-fluid">
        <div class="row">
            <partial name="_MenuPartialView" model="Model">
                <div class="col-md-8 mt-3 offset-2">
                    <div class="table-responsive">
                        <div class="alert alert-info">
                            Критерии и точки по правилата за прием
                        </div>
                        <table class="table table-bordered table-hover center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Критерий</th>
                                    <th>Точки</th>
                                </tr>
                            </thead>
                            @if (Model != null)
                            {
                                <tbody>
                                    @{
                                        var i = 1;
                                        foreach (var criteria in Model.ScoresByCriteria)
                                        {
                                            <tr>
                                                <td class="ftco-animate" height="21" style="height:21px;">
                                                    <strong>@(i++)</strong>
                                                </td>
                                                @if (criteria.SchoolName == null)
                                                {
                                                    <td class="ftco-animate" height="21" style="height:21px;">
                                                        <strong> @criteria.CriteriaDisplayName</strong>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="ftco-animate" height="21" style="height:21px;">
                                                        <strong> @criteria.CriteriaDisplayName - за училище @criteria.SchoolName</strong>
                                                    </td>
                                                }

                                                <td class="ftco-animate" height="21" style="height:21px;">
                                                    <strong> @criteria.CriteriaScores</strong>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
        </div>
            </div>
        </div>
    </div>
</section>