@model ISOOU.Web.ViewModels.Users.CalculateScoresByCriteriaOnCandidateViewModel
@{
    ViewData["Title"] = "Критерии и точки";
}

<h4>@ViewData["Title"]</h4>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Критерий</th>
                    <th>Точки</th>
                    <th>Данни</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @{
                        var i = 0;
                        foreach (var kvp in Model.ScoresByCriteriaByCandidates)
                        {
                        <span>@kvp.Key</span>
                            foreach (var item in kvp.Value)
                            {
                                i++;
                        <td>@i</td>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                            }
                        }
                    }
            </tbody>
        </table>
    </div>
</div>









<section class="ftco-section img" id="section" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container-fluid bg">
        <div class="row">
            <h4 class="ftco-heading-2"></h4>
            <div class="col-6 d-flex justify-content-around">
                <div id="add-parent" class="container" style="">
                   
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}





