@model ISOOU.Web.ViewModels.Users.EditCandidateInputModel
@{
    ViewData["Title"] = "Деца";

}


<section class="ftco-heading-2 img" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills mt-2 nav-justified flex-col">
                    <li class="nav-item">
                        <a class="nav-link active" href="Profile/@Model.Id">Профил</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Criteria/@Model.Id">Критерии и точки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Applications/@Model.Id">Кандидатури</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Edit/@Model.Id">Редактирай данни</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 mt-2">
                <form id="edit-candidate" method="post">
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="UCN">ЕГН</label>
                        <input asp-for="UCN" value="@Model.UCN" disabled />
                        <span asp-validation-for="UCN" class="text-danger"></span>
                        <input hidden asp-for="UserName" value="@this.User.Identity.Name" />
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" value="@Model.FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="MiddleName"></label>
                        <input asp-for="MiddleName" value="@Model.MiddleName" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" value="@Model.LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="YearOfBirth">Година на раждане</label>
                        <input asp-for="YearOfBirth" value="@Model.YearOfBirth" disabled />
                        <span asp-validation-for="YearOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="KinderGarten"></label>
                        <input asp-for="KinderGarten" value="@Model.KinderGarten" />
                        <span asp-validation-for="KinderGarten" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="Immunization"> Имунизации </label>
                        <label asp-for="Immunization"><input asp-for="Immunization" type="radio" selected value="false">НЕ</label>
                        <label asp-for="Immunization"><input asp-for="Immunization" type="radio" value="true">ДА</label>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="SEN"> СОП </label>
                        <label asp-for="SEN"><input asp-for="SEN" type="radio" selected value="false">НЕ</label>
                        <label asp-for="SEN"><input asp-for="SEN" type="radio" value="true">ДА</label>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="Desease"> Хронични заболявания </label>
                        <label asp-for="Desease"><input asp-for="Desease" type="radio" selected value="false">НЕ</label>
                        <label asp-for="Desease"><input asp-for="Desease" type="radio" value="true">ДА</label>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="MotherFullName">Майка</label>
                        <select class="form-control text-primary" asp-for="MotherFullName">
                            @foreach (var mom in (IEnumerable<string>)this.ViewData["Mother"])
                            {
                                if (mom == @Model.MotherFullName)
                                {
                                    <option selected value="@Model.MotherFullName">@Model.MotherFullName</option>
                                }
                                <option value="@mom">@mom</option>
                            }
                        </select>
                        <span asp-validation-for="MotherFullName" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="FatherFullName">Баща</label>
                        <select class="form-control text-primary" asp-for="FatherFullName">
                            @foreach (var dad in (IEnumerable<string>)this.ViewData["Father"])
                            {
                                if (dad == @Model.FatherFullName)
                                {
                                    <option selected value="@Model.FatherFullName">@Model.FatherFullName</option>
                                }
                                <option value="@dad">@dad</option>
                            }
                        </select>
                        <span asp-validation-for="FatherFullName" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <a href="AddApplications/@Model.Id" class="btn btn-secondary py-3 px-4">Добави кандидатури</a>
                    </div>
                    <div class="form-inline mt-2 justify-content-end">
                        <input type="submit" class="btn btn-secondary py-3 px-4" value="Запиши" />
                        <div class="col-2">
                            <a href="Delete/@Model.Id" class="btn btn-danger py-3 px-4">Изтрий</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}