@using ISOOU.Common
@model ISOOU.Web.ViewModels.Users.CandidateProfileViewModel
@{
    ViewData["Title"] = "Профил на дете";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-heading-2" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container-fluid">
        <div class="row">
            <partial name="_MenuPartialView" model="Model">
                <div class="col-md-8 offset-2">
                    <div class="container justify-content-end mt-2">
                        @if (Model.ProcedureStatus == "Finished")
                        {
                            @if (Model.CandidateStatus == "Admitted")
                            {
                                <div class="alert alert-info">
                                    @Model.CandidateName е приет/а!
                                </div>
                            }
                            else if (Model.CandidateStatus == "NotAdmitted")
                            {
                                <div class="alert alert-danger">
                                    @Model.CandidateName не е приет/а!
                                </div>
                            }
                        }
                        <div class="alert alert-warning mt-3">
                            Кандидатури за следващото класиране
                        </div>
                        <table class="table table-bordered table-hover end">
                            <thead>
                                <tr>
                                    <th>Желание</th>
                                    <th>Училище</th>
                                    <th>Точки</th>
                                </tr>
                            </thead>
                            @if (Model.ScoresByApplications.Count != 0 && Model.CandidateStatus != "Admitted")
                            {
                                <tbody>
                                    @{
                                        var i = 1;
                                        foreach (var schApp in Model.ScoresByApplications)
                                        {
                                            <tr>
                                                <td class="ftco-animate" height="21" style="height:21px;">
                                                    <strong>@(i++)</strong>
                                                </td>
                                                <td class="ftco-animate" height="21" style="height:21px;">
                                                    <strong> @schApp.Key</strong>
                                                </td>
                                                <td class="ftco-animate" height="21" style="height:21px;">
                                                    <strong> @schApp.Value</strong>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
</div>
    </div>
</section>