@model ISOOU.Web.ViewModels.Schools.EditSchoolInputModel
@{
    this.ViewData["Title"] = "СЕКЦИЯ ДИРЕКТОРИ";
}

    <div class="container">
        <hr />
        <div class="row">
            <div class="col-md-8">
                @if (Model.Name == null)
                {
                    <span>Няма намерено училище!</span>
                }
                else
                {
            <form asp-area="Directors" asp-controller="Home" asp-action="EditSchool" method="post">
                <div class="form-inline mt-1 justify-content-end">
                    <input hidden asp-for="Id" value="@Model.Id" class="form-control" />
                </div>
                <div class="form-inline mt-1 justify-content-end">
                    <label asp-for="Name">Име на училище</label>
                    <input asp-for="Name" value="@Model.Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-inline mt-1 justify-content-end">
                    <label asp-for="DirectorName">Име на директор</label>
                    <input asp-for="DirectorName" value="@Model.DirectorName" class="form-control" />
                    <span asp-validation-for="DirectorName" class="text-danger"></span>
                </div>
                <div class="form-inline mt-1 justify-content-end">
                    <label asp-for="Address">Адрес на училището</label>
                    <input asp-for="Address" value="@Model.Address" disabled class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-inline mt-1 justify-content-end">
                    <label asp-for="DistrictName"></label>
                    <select class="form-control text-primary" id="type" asp-for="DistrictName">
                        <option selected disabled value="@Model.DistrictName">@Model.DistrictName</option>
                        @foreach (var district in (IEnumerable<ISOOU.Web.ViewModels.Districts.EditSchoolDistrictModel>)this.ViewData["Districts"])
                        {
                            <option value="@district.Name">@district.Name</option>
                        }
                    </select>
                    <span asp-validation-for="DistrictName" class="text-danger"></span>
                </div>
                <div class="form-inline mt-1 justify-content-end">
                    <label asp-for="Email">Е-поща</label>
                    <input asp-for="Email" value="@Model.Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-inline mt-1 justify-content-end">
                    <label asp-for="PhoneNumber">Телефон</label>
                    <input asp-for="PhoneNumber" value="@Model.PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-inline mt-1 justify-content-end">
                    <label asp-for="URLOfSchool">Сайт на училището</label>
                    <input asp-for="URLOfSchool" value="@Model.URLOfSchool" class="form-control" />
                    <span asp-validation-for="URLOfSchool" class="text-danger"></span>
                </div>
                <div class="form-inline mt-1 justify-content-end">
                    <label asp-for="URLOfMap">Е-карта на училището</label>
                    <input asp-for="URLOfMap" value="@Model.URLOfMap" class="form-control" />
                    <span asp-validation-for="URLOfMap" class="text-danger"></span>
                </div>
                <div class="form-inline mt-1 justify-content-end">
                    <label asp-for="FreeSpots">Свободни места за текущата година</label>
                    <input asp-for="FreeSpots" value="@Model.FreeSpots" class="form-control" />
                    <span asp-validation-for="FreeSpots" class="text-danger"></span>
                </div>
                <div class="form-inline mt-1 justify-content-end">
                    <input type="submit" class="btn btn-secondary py-3 px-4" value="Редактирай" />
                </div>
            </form>
                }
            </div>
        </div>
    </div>

}




@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
