@model ISOOU.Web.ViewModels.Users.EditParentInputModel
@{
    ViewData["Title"] = "Редактиране на родител";
}

<section class="ftco-heading-2" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container-fluid">
        <div class="row">
            <div class="row-md-6">
                <h4 class="ftco-heading-2 mt-2">@this.ViewData["Title"]</h4>
                <a class="btn btn-secondary py-3 px-4" asp-area="Users" asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id">
                    Назад
                </a>
                </div>
                <div class="col-md-6">
                    <form id="edit-parent" method="post">
                        <div class="form-inline mt-3 justify-content-end">
                            <label asp-for="UCN"></label>
                            <input selected disabled asp-for="@Model.UCN" />
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="ParentRole">Родител</label>
                            <select class="form-control text-primary" asp-for="ParentRole">
                                @foreach (var role in (IEnumerable<string>)this.ViewData["ParentsRole"])
                                {
                                    if (role == @Model.ParentRole)
                                    {
                                        <option selected disabled value="@Model.ParentRole">@role</option>
                                    }
                                    <option value="@role">@role</option>
                                }
                            </select>
                            <span asp-validation-for="ParentRole" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" value="@Model.FirstName" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="MiddleName"></label>
                            <input asp-for="MiddleName" value="@Model.MiddleName" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" value="@Model.LastName" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="AddressPermanentCity"></label>
                            <select class="form-control text-primary" asp-for="AddressPermanentCity">
                                @foreach (var city in (IEnumerable<string>)this.ViewData["CityNames"])
                                {
                                    if (city == @Model.AddressPermanentCity)
                                    {
                                        <option selected value="@Model.AddressPermanentCity">
                                            @Model.AddressPermanentCity
                                        </option>
                                    }
                                    <option value="@city">@city</option>
                                }
                            </select>
                            <span asp-validation-for="AddressPermanentCity" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="AddressPermanentDistrictName"></label>
                            <select class="form-control text-primary" asp-for="AddressPermanentDistrictName">
                                @foreach (var district in (IEnumerable<ISOOU.Web.ViewModels.Districts.CreateParentDistrictViewModel>)this.ViewData["Districts"])
                                {
                                    if (district.Name == @Model.AddressPermanentDistrictName)
                                    {
                                        <option selected value="@Model.AddressPermanentDistrictName">
                                            @Model.AddressPermanentDistrictName
                                        </option>
                                    }
                                    <option value="@district.Name">@district.Name</option>
                                }
                            </select>
                            <span asp-validation-for="AddressPermanentDistrictName" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="AddressPermanent"></label>
                            <input asp-for="AddressPermanent" />
                            <span asp-validation-for="AddressPermanent" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="AddressCurrentCity"></label>
                            <select class="form-control text-primary" asp-for="AddressCurrentCity">
                                @foreach (var city in (IEnumerable<string>)this.ViewData["CityNames"])
                                {
                                    if (city == @Model.AddressCurrentCity)
                                    {
                                        <option selected value="@Model.AddressCurrentCity">
                                            @Model.AddressCurrentCity
                                        </option>
                                    }
                                    <option value="@city">@city</option>
                                }
                            </select>
                            <span asp-validation-for="AddressCurrentCity" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="AddressCurrentDistrictName"></label>
                            <select class="form-control text-primary" asp-for="AddressCurrentDistrictName">
                                @foreach (var district in (IEnumerable<ISOOU.Web.ViewModels.Districts.CreateParentDistrictViewModel>)this.ViewData["Districts"])
                                {
                                    if (district.Name == @Model.AddressCurrentDistrictName)
                                    {
                                        <option selected value="@Model.AddressCurrentDistrictName">
                                            @Model.AddressCurrentDistrictName
                                        </option>
                                    }
                                    <option value="@district.Name">@district.Name</option>
                                }
                            </select>
                            <span asp-validation-for="AddressCurrentDistrictName" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="AddressCurrent"></label>
                            <input asp-for="AddressCurrent" value="@Model.AddressCurrent" />
                            <span asp-validation-for="AddressCurrent" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="WorkName"></label>
                            <input asp-for="WorkName" value="@Model.WorkName" />
                            <span asp-validation-for="WorkName" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-1 justify-content-end">
                            <label asp-for="WorkDistrictName"></label>
                            <select class="form-control text-primary" asp-for="WorkDistrictName">
                                <option selected value="@Model.WorkDistrictName"></option>
                                @foreach (var district in (IEnumerable<ISOOU.Web.ViewModels.Districts.CreateParentDistrictViewModel>)this.ViewData["Districts"])
                                {
                                    <option>@district.Name</option>
                                }
                            </select>
                            <span asp-validation-for="WorkDistrictName" class="text-danger"></span>
                        </div>
                        <div class="form-inline mt-2 justify-content-end">
                            <input type="submit" class="btn btn-secondary py-3 px-4" value="Запиши" />
                            <div class="col-2">
                                <a class="btn btn-danger py-3 px-4" asp-area="Users" asp-controller="Parent" asp-action="Delete" asp-route-id="@Model.Id">
                                    Изтрий
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }