<div class="container">
    <ul class="nav nav-pills nav-justified flex-row">
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Начало</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ChildInputNavClass(ViewContext)" id="child" asp-page="./ChildInput">Деца</a>
            <div class="container">
                <ul class="nav nav-pills nav-justified flex-row">
                    <li class="nav-item">
                        <a class="nav-link @ManageNavPages.ChildInputNavClass(ViewContext)" id="child-id" asp-page="./ChildInput/?pid=@Model.Id">@Model.FullName</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ParentInputNavClass(ViewContext)" id="parent" asp-page="./ParentInput">Родители</a>
            <div class="container">
                <ul class="nav nav-pills nav-justified flex-row">
                    <li class="nav-item">
                        <a class="nav-link @ManageNavPages.ChildInputNavClass(ViewContext)" id="child-id" asp-page="./ChildInput/?pid=@Model.Id">@Model.FullName</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
